<h3>Cart Info</h3>
<div *ngIf="cart.items.length > 0">
    <table border="1">
        <tr>
            <th>Remove</th>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
        <tr *ngFor="let item of cart.items">
            <td align="center">
                <a href="javascript:void(0)" (click)="remove(item.product.id)"><img src="../../../assets/images/times.png" width="18"/></a>
            </td>
            <td><div align="center">{{item.product.name}}</div></td>
            <td>
                <div align="center"><img src="assets/images/{{item.product.image}}" width="50"></div>
            </td>
            <td><div align="center">{{item.product.price}} eur</div></td>
            <td>
                <div align="center">{{item.quantity}} <a href="javascript:void(0)" (click)="add(item.product)"><img src="../../../assets/images/plus.png" width="15"/></a></div>
            </td>
            <td><div align="center">{{item.product.price * item.quantity}} eur</div></td>
        </tr>
        <tr>
            <td colspan="5" align="right"><div class="padding-right-15">Total</div></td>
            <td><div align="center">{{cart.total}} eur</div></td>
        </tr>
    </table>
    <br/>
    <button [disabled]="cart.items.length == 0" [routerLink]="['/checkout']" class="btn">Checkout</button>
</div>
<h3 *ngIf="cart.items.length == 0"> Cart is empty!</h3>
